<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Add locations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="height: 100%;">
  <form [formGroup]="directionForm" (ngSubmit)="calculateAndDisplayRoute(directionForm.value)">
    <ion-item>
      <ion-label position="floating">Source</ion-label>
      <ion-input formControlName="source"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Destination</ion-label>
      <ion-input formControlName="destination"></ion-input>
    </ion-item>
    <ion-item>
      <ion-grid>
      <ion-row>
       
        <ion-col>
          <ion-router-link color="success" href="#">Add Destination</ion-router-link>
        </ion-col>        
      </ion-row>
    </ion-grid>
  </ion-item>
    <ion-button expand="full" type="submit" [disabled]="directionForm.invalid">Get Direction</ion-button>
  </form>
  <div #googleMap id="googleMap" class="map">
  </div>
</div>
  </ion-content> -->

  <ion-header>   
    <ion-toolbar> 
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>     
      <ion-title>Wanderer</ion-title>
    </ion-toolbar>
    <ion-toolbar color="primary">                
      <ion-searchbar [(ngModel)]="autocomplete.input" (ionInput)="UpdateSearchResults()" placeholder="Search for a place"  (ionClear)="ClearAutocomplete()"></ion-searchbar>
    </ion-toolbar>
    <ion-list [hidden]="autocompleteItems.length == 0">
      <ion-item *ngFor="let item of autocompleteItems" tappable (click)="SelectSearchResult(item)">
        {{ item.description }}
      </ion-item>
    </ion-list>
    <ion-row>    
      <ion-col size="6">
        <ion-text>Search Safer Places</ion-text>
      </ion-col>
      <ion-col  size="6">
        <ion-button (click)="loadMap()" shape="round" fill="outline">
          <ion-icon slot="start" name="locate"></ion-icon>
            Where I Am
          </ion-button>
      </ion-col>
    </ion-row>  
  </ion-header>
  <ion-content> 
    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button (click)="ShowCords()" ion-fab color="tertiary">
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <div class="map-wrapper" style="height: 100%;">      
      <div id="map_center">
        <ion-icon name="pin" size="large" color="danger"></ion-icon>      
      </div>
      <div #map id="map"  style="height: 100%;"></div>
    </div>   
  </ion-content>